.Auth{
    position: absolute;
    width: 74.2%;
    height: 50.9%;
    margin: 12.4% 13% 0 13%;

    /* Gray 1 */

    background: #333333;
    border-radius: 7px;
}

.AuthTitle{
    /* Project manager application */
    
    position: absolute;
    width: 87.8%;
    height: 30.5%;
    left: 63px;
    top: 26px;

    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;

    color: #8B8888;    
}

.AuthTitle p {
    max-width: 420px;
    text-align: left;
}